body {
	background: rgb(240, 242, 244);
	font-family: "Inter";
}

.screen {
	position: relative;
	width: 1440px;

	margin-left: auto;
	margin-right: auto;
}

nav {
	background: #0C2546;
}

nav .tardigrade {
	width: 122px;
	height: 19px;
}

nav .spacer {
	width: 0;
	height: 20px;
	border: 0.5px solid #FFFFFF;
	margin-left: 4px;
}

nav .gateway {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	margin-left: 9px;
	margin-bottom: 0;
	position: relative;
	top: -1px;
	display: inline-block;
}

.nav-link {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.25px;
	color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-link:hover {
	text-decoration: underline;
}
