.status-box {
	margin-top: 40px;
	padding: 60px;
	background: #FEFEFF;
	border-radius: 6px;
}

.status-title {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	color: #0D1826;
	margin-bottom: 0;
}

.status-light {
	/* position: relative;
	left: 249px;
	top: 60px; */

	width: 12px;
	height: 12px;

	border-radius: 6px;

	background: #37FDCE;

	display: inline-block;

	margin-right: 12px;
}

.status-light-connected {
	background: #37FDCE;
}
.status-light-stopped {
	background: #FC4545;
}
.status-light-restarting {
	background: none;
}

.icon-restarting {
	animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.status-dropdown {
	position: relative;
	display: inline-block;
}

.status-dropdown .dropdown-toggle {
	color: rgba(0, 0, 0, 0.7);
}

.status-restarting .dropdown-toggle {
	color: rgba(0, 0, 0, 0.4);
	cursor: default;
}
.status-restarting .dropdown-toggle:hover {
	text-decoration: none;
}
.status-restarting .dropdown-toggle::after {
	display: none;
}

.status-dropdown .dropdown-item {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
	display: flex;
	align-items: center;
	color: #000000;
}

.dropdown-item.disabled {
	color: rgba(0, 0, 0, 0.3);
}

.status-dropdown .dropdown-item:focus, .status-dropdown .dropdown-item:hover {
    color: #FFF;
    background-color: #2683FF;
}

.status-dropdown .dropdown-menu {
	border: 1px solid #C5CBDB;
	box-shadow: 0px 8px 34px rgba(161, 173, 185, 0.41);
	border-radius: 6px;
	margin-top: 8px;
}

.gateway-box {
	/* width: 456px; */
	/* height: 344px; */
	margin-top: 32px;
	padding: 60px;
	background: #FEFEFF;
	border-radius: 6px;
}

.gateway-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	color: #0D1826;
}

.access-key-label {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	display: flex;
	align-items: center;
	color: #384B65;
}

.access-key-show, .access-key-hide {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 100%;
	color: #9BA4B2;
	cursor: pointer;
}

.access-key-show img {
	width: 20px;
}

.access-key-hide img {
	width: 20px;
}

.access-key {
	width: 100%;
	height: 52px;
	background: rgba(226, 229, 233, 0.4);
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: rgba(56, 75, 101, 0.75);
	text-indent: 20px;
}

.secret-key-label {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	color: #384B65;
}

.secret-key {
	width: 100%;
	height: 52px;
	background: rgba(226, 229, 233, 0.4);
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: rgba(56, 75, 101, 0.75);
	text-indent: 20px;
}

.secret-key-show, .secret-key-hide {
	height: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 100%;
	color: #9BA4B2;
	cursor: pointer;
}

.secret-key-show img {
	width: 20px;
}

.secret-key-hide img {
	width: 20px;
}

.bucket-box {
	/* width: 552px; */
	/* height: 498px; */
	padding: 60px;
	margin-top: 40px;
	background: #FEFEFF;
	border-radius: 6px;
}

.reconfigure {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 100%;
}

.reconfigure > * {
	width: 127px;
	text-align: right !important;
	color: #2683FF !important;
}

.modal-header {
	border-bottom: 0;
}
.modal-title {
	font-family: Inter;
	font-weight: bold;
	text-align: center;
	color: #0D1826;
	margin-top: 0.5em;
}
.modal-body {
	padding: 0.5em 2em 0;
}
.modal-body p {
	font-family: Inter;
	text-align: center;
	color: #384B65;
}
.modal-footer {
	border-top: 0;
	padding: 1em 0;
}
.modal-footer .row {
	width: 100%;
}
.modal-footer .btn {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
}
.btn-primary {
	background-color: #2683FF;
	border: 2px solid #2683FF;
}
.btn-primary:hover {
	background-color: #0059D0;
	border-color: #0059D0;
}
.btn-outline-primary {
	border: 2px solid #2683FF;
}
.btn-outline-primary:hover {
	border-color: #0059D0;
	background-color: #0059D0;
}

.bucket-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	color: #0D1826;
}

.satellite-label {
	width: 61px;
	height: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	color: #384B65;
}

.satellite {
	height: 52px;
	width: 100%;

	background: rgba(226, 229, 233, 0.4);
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 134.09%;
	text-indent: 20px;
	color: rgba(56, 75, 101, 0.75);
}

.api-key-label {
	width: 58px;
	height: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	color: #384B65;
}

.api-key {
	width: 100%;
	height: 52px;

	background: rgba(226, 229, 233, 0.4);
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 134.09%;
	text-indent: 20px;
	color: rgba(56, 75, 101, 0.75);
}

.passphrase-label {
	width: 174px;
	height: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	color: #384B65;
}

.passphrase {
	width: 100%;
	height: 52px;

	background: rgba(226, 229, 233, 0.4);
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 134.09%;

	text-indent: 20px;

	color: rgba(56, 75, 101, 0.75);
}
