 .wizard-progress {
    position: relative;
    display: flex;
    width: 100%;
    margin: 30px 0 10px;
 }
 .wizard-progress-track {
    position: absolute;
    top: 8px;
    width: 66%;
    left: 17%;
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 5px;
    background-color: #dfe3e4;
    z-index: -1;
 }
 .wizard-progress-label {
 	font-weight: normal;
 	font-size: 12px;
 	text-align: center;
 	color: rgba(0, 0, 0, 0.4);
 }
 .label-active {
 	font-family: Inter;
 	font-weight: bold;
 	font-size: 12px;
 	color: #000000;
 }
 .wizard-progress-step {
   position: relative;
   width: 100%;
   font-size: 12px;
   text-align: center;
 }
 .wizard-progress-step:last-child:after {
   display: none;
 }
 .wizard-progress-step:before {
   content: "";
   display: flex;
   margin: 0 auto;
   margin-bottom: 8px;
   width: 20px;
   height: 20px;
   background: #C5CBDB;
   border-radius: 100%;
 }
 .wizard-progress-step:after {
   content: "";
   position: absolute;
   top: 8px;
   left: 50%;
   width: 0%;
   transition: width 1s ease-in;
   height: 5px;
   background: #2683FF;
   z-index: -1;
 }
 .wizard-progress-step.is-active:before {
   background: #2683FF;
 }
 .wizard-progress-step.is-complete:before {
   background: #2683FF;
 }
 .wizard-progress-step.is-complete:after {
   background: #2683FF;
   animation: nextStep 1s;
   animation-fill-mode: forwards;
 }
 @keyframes nextStep {
   0% {
     width: 0%;
   }
   100% {
     width: 100%;
   }
 }


.step-1 .signup {
	width: 100%;
	background: rgba(38, 131, 255, 0.14);
	border-radius: 6px;
  padding: 20px;
}

.step-1 .signup-text {
	font-size: 14px;
	color: #000000;
	opacity: 0.75;
  margin-top: 0.75em;
  display: inline-block;
}

button:disabled {
	opacity: 0.5 !important;
  cursor: default !important;
}
button:disabled:hover {
  background: #2683FF;
}

.step-1 .signup-button {
	background: #2683FF;
	border-radius: 6px;
	border: 0;
	width: 151px;
	height: 48px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
  display: inline-block;
}

.step-1 .background {
	background: #FEFEFF;
  border-radius: 6px;
  padding: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.step-1 .logo {
	height: 100px;
  margin-bottom: 40px;
}

.step-1 .title {
	font-weight: bold;
	font-size: 24px;
	color: #0D1826;
}

.step-1 .explanation {
	font-weight: normal;
	font-size: 14px;
	color: #384B65;
}

.step-1 .docs {
	font-weight: bold;
	font-size: 14px;
	color: #2683FF;
  display: inline-block;
}

.step-1 .bucket-details {
	font-weight: bold;
	font-size: 22px;
	color: #0D1826;
}

.step-1 .satellite-label {
	font-weight: normal;
	font-size: 16px;
	color: #384B65;
}

.step-1 .satellite {
	text-indent: 4px;
  height: 52px;
	border: 1px solid #E2E6E9;
	border-radius: 10px;
	font-size: 16px;
	color: #384B65;
}

.step-1 .api-key-label {
	font-weight: normal;
	font-size: 16px;
	color: #384B65;
}

.step-1 .api-key {
	height: 52px;
	background: #FFFFFF;
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: normal;
	font-size: 16px;
	text-indent: 8px;
	color: #384B65;
}

.step-1 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(56, 75, 101, 0.4);
}
.step-1 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(56, 75, 101, 0.4);
   opacity:  1;
}
.step-1 ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(56, 75, 101, 0.4);
   opacity:  1;
}
.step-1 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(56, 75, 101, 0.4);
}
.step-1 ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(56, 75, 101, 0.4);
}
.step-1 ::placeholder { /* Most modern browsers support this now. */
   color: rgba(56, 75, 101, 0.4);
}

.step-1 .passphrase-label {
	font-weight: normal;
	font-size: 16px;
	color: #384B65;
}

.step-1 .passphrase {
	height: 52px;
	background: #FFFFFF;
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: normal;
	font-size: 16px;
	text-indent: 8px;
	color: #384B65;
}

.step-1 .continue {
	background: #2683FF;
	border: 0;
	box-sizing: border-box;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
  padding: 14px;
  margin-top: 24px;
}

.step-2 .background {
	background: #FEFEFF;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
}

.step .back {
	cursor: pointer;
  margin-bottom: 40px;
}

.step .back .icon {
	width: 6.5px;
  margin-right: 8px;
}

.step .back a {
	font-weight: bold;
	font-size: 14px;
	color: #384B65;
}

.step-2 .title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color: #0D1826;
}

.step-2 .explanation {
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	color: #384B65;
  display: block;
}

.step-2 .access-key-label {
	font-weight: normal;
	font-size: 16px;
	color: #384B65;
}

.step-2 .access-key {
	height: 52px;
	background: #0C2546;
	border-radius: 10px;
	font-family: "Source Code Pro";
	font-weight: 400;
	font-size: 16px;
	text-indent: 8px;
	border: none;
	color: #FFFFFF;
  width: 100%;
  padding-right: 100px;
}

.step-2 .access-key-copy {
  width: 84px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 6px;
	border: 0;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	color: #2683FF;
}

.step-2 .input-group-prepend {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index:9;
}

.step-2 .secret-key-label {
	font-weight: normal;
	font-size: 16px;
	color: #384B65;
}

.step-2 .secret-key {
	height: 52px;
	background: #0C2546;
	border-radius: 10px;
	font-family: "Source Code Pro";
	font-weight: 400;
	font-size: 16px;
	text-indent: 8px;
	border: none;
	color: #FFFFFF;
}

.step-2 .secret-key-copy {
  width: 84px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 6px;
	border: 0;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	color: #2683FF;
}

.step-2 .continue {
	background: #2683FF;
	border-radius: 6px;
	cursor: pointer;
	border: 0;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
  margin: 20px auto;
  padding: 14px;
}

.step-3 .background {
	background: #FEFEFF;
	border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
}

.step-3 .title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color: #0D1826;
}

.step-3 .hbs3 {
	width: 340px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
}

.step-3 .explaination {
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	color: #384B65;
}

.step-3 .guide {
	height: 48px;
	background: #2683FF;
	border: 2px solid #2683FF;
	box-sizing: border-box;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

.step-3 .done {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #2683FF;
  display: inline-block;
  cursor: pointer;
}

.toast-wrapper {
  position:
  absolute;
  top: 72px;
  right: 24px;
}
.toast {
	opacity: 1;
	background: #FEFEFF;
	border: 1px solid #C5CBDB;
	box-shadow: 0px 8px 34px rgba(161, 173, 185, 0.41);
	border-radius: 6px;
	padding: 20px 14px;
	transition: opacity 0.3s;
}

.toast-header {
	border-bottom: 0;
}

.toast-title {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #373737;
	margin-bottom: 0;
}

.toast-body {
	padding-bottom: 0;
	padding-right: 2em;
}
.toast-body p {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #667589;
	margin-bottom: 0;
	line-height: 1.8;
}

#loader{
  position: absolute;
  margin-left: 10px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dnone{
	display: none;
}

.button-opacity{
	opacity: 0.6;
	cursor: not-allowed;
}

.btn:hover {
  background-color: #0059D0;
  border-color: #0059D0;
}
