 @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

 .wizard-progress {
    position: relative;
    display: flex;
    width: 100%;
    margin: 40px;
 }
 .wizard-progress-track {
    position: absolute;
    top: 8px;
    width: 66%;
    left: 17%;
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 5px;
    background-color: #dfe3e4;
    z-index: -1;
 }
 .wizard-progress-label {
 	font-weight: normal;
 	font-size: 12px;
 	text-align: center;
 	color: rgba(0, 0, 0, 0.4);
 }
 .label-active {
 	font-family: Inter;
 	font-weight: bold;
 	font-size: 12px;
 	color: #000000;
 }
 .wizard-progress-step {
   position: relative;
   width: 100%;
   font-size: 12px;
   text-align: center;
 }
 .wizard-progress-step:last-child:after {
   display: none;
 }
 .wizard-progress-step:before {
   content: "";
   display: flex;
   margin: 0 auto;
   margin-bottom: 8px;
   width: 20px;
   height: 20px;
   background: #C5CBDB;
   border-radius: 100%;
 }
 .wizard-progress-step:after {
   content: "";
   position: absolute;
   top: 8px;
   left: 50%;
   width: 0%;
   transition: width 1s ease-in;
   height: 5px;
   background: #2683FF;
   z-index: -1;
 }
 .wizard-progress-step.is-active:before {
   background: #2683FF;
 }
 .wizard-progress-step.is-complete:before {
   background: #2683FF;
 }
 .wizard-progress-step.is-complete:after {
   background: #2683FF;
   animation: nextStep 1s;
   animation-fill-mode: forwards;
 }
 @keyframes nextStep {
   0% {
     width: 0%;
   }
   100% {
     width: 100%;
   }
 }


.step-1 .signup {
	width: 100%;
	background: rgba(38, 131, 255, 0.14);
	border-radius: 6px;
  padding: 20px;
}

.step-1 .signup-text {
	font-size: 14px;
	color: #000000;
	opacity: 0.75;
  margin-top: 0.75em;
  display: inline-block;
}

button:disabled {
	opacity: 0.5 !important;
}

.step-1 .signup-button {
	background: #2683FF;
	border-radius: 6px;
	border: 0;
	width: 151px;
	height: 48px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
  display: inline-block;
}

.step-1 .background {
	position: absolute;
	left: 252px;
	top: 270px;

	background: #FEFEFF;

	width: 936px;
	height: 565px;

	z-index: -100;

  border-radius: 6px;
}

.step-1 .logo {
	position: absolute;
	top: 80px;
	left: 94px;

	height: 100px;
}

.step-1 .title {
	position: absolute;
	width: 288px;
	height: 68px;
	left: 96px;
	top: 214px;


	font-weight: bold;
	font-size: 24px;
	line-height: 140%;
	/* or 34px */

	display: flex;
	align-items: center;

	color: #0D1826;
}

.step-1 .explaination {
	position: absolute;
	width: 288px;
	height: 130px;
	left: 96px;
	top: 302px;


	font-weight: normal;
	font-size: 14px;
	line-height: 145%;
	/* or 20px */


	color: #384B65;
}

.step-1 .docs {
	position: absolute;
	width: 271px;
	height: 45px;
	left: 94px;
	top: 455px;


	font-weight: bold;
	font-size: 14px;
	line-height: 145%;
	/* or 20px */

	display: flex;
	align-items: center;

	color: #2683FF;
}

.step-1 .bucket-details {
	position: absolute;
	width: 298px;
	height: 22px;
	left: 480px;
	top: 80px;


	font-weight: bold;
	font-size: 22px;
	line-height: 100%;
	/* identical to box height, or 22px */

	display: flex;
	align-items: center;

	color: #0D1826;
}

.step-1 .satellite-label {
	position: absolute;
	width: 61px;
	height: 16px;
	left: 480px;
	top: 130px;


	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */

	display: flex;
	align-items: center;

	color: #384B65;
}

.step-1 .satellite {
	position: absolute;
	left: 480px;
	top: 154px;

	width: 360px;
	height: 52px;

	text-indent: 14px;

	background: #FFFFFF;
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	overflow: hidden;

	border-radius: 10px;


	font-weight: normal;
	font-size: 16px;

	color: #384B65;

}

.step-1 .api-key-label {
	position: absolute;
	width: 58px;
	height: 16px;
	left: 480px;
	top: 230px;


	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */

	align-items: center;

	color: #384B65;
}

.step-1 .api-key {
	position: absolute;
	left: 480px;
	top: 253px;

	width: 360px;
	height: 52px;

	background: #FFFFFF;
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;


	font-weight: normal;
	font-size: 16px;

	text-indent: 20px;

	color: #384B65;
}

.step-1 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(56, 75, 101, 0.4);
}
.step-1 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(56, 75, 101, 0.4);
   opacity:  1;
}
.step-1 ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(56, 75, 101, 0.4);
   opacity:  1;
}
.step-1 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(56, 75, 101, 0.4);
}
.step-1 ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(56, 75, 101, 0.4);
}

.step-1 ::placeholder { /* Most modern browsers support this now. */
   color: rgba(56, 75, 101, 0.4);
}

.step-1 .passphrase-label {
	position: absolute;
	width: 174px;
	height: 16px;
	left: 481px;
	top: 342px;


	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */

	display: flex;
	align-items: center;

	color: #384B65;
}

.step-1 .passphrase {
	position: absolute;
	left: 481px;
	top: 366px;

	width: 360px;
	height: 52px;

	background: #FFFFFF;
	border: 1px solid #E2E6E9;
	box-sizing: border-box;
	border-radius: 10px;


	font-weight: normal;
	font-size: 16px;
	line-height: 134.09%;

	text-indent: 20px;

	color: #384B65;
}

.step-1 .continue {
	position: absolute;
	left: 480px;
	top: 447px;

	width: 360px;
	height: 52px;

	background: #2683FF;
	border: 2px solid #2683FF;
	box-sizing: border-box;
	border-radius: 6px;
	cursor: pointer;


	font-weight: bold;
	font-size: 16px;
	line-height: 135%;

	text-align: center;

	color: #FFFFFF;
}

.step-2 .background {
	position: absolute;

	width: 936px;
	height: 625px;
	top: 180px;
	left: 252px;

	background: #FEFEFF;
	border-radius: 6px;
}

.step .back {
	cursor: pointer;
}

.step .back .icon {
	position: absolute;
	left: 29.5px;
	top: 26px;

	width: 6.5px;
}

.step .back a {
	position: absolute;

	left: 52.5px;
	top: 25px;

	font-weight: bold;
	font-size: 14px;
	line-height: 100%;

	color: #384B65;
}

.step-2 .title {
	position: absolute;
	width: 181px;
	height: 24px;
	left: 377px;
	top: 84px;


	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
	/* identical to box height, or 24px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #0D1826;
}

.step-2 .explaination {
	position: absolute;
	width: 463px;
	height: 78px;
	left: 236px;
	top: 130px;


	font-weight: normal;
	font-size: 18px;
	line-height: 145%;
	/* or 26px */

	text-align: center;

	color: #384B65;
}

.step-2 .access-key-label {
	position: absolute;
	width: 88px;
	height: 16px;
	left: 242px;
	top: 242px;


	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #384B65;
}

.step-2 .access-key {
	position: absolute;
	left: 242px;
	top: 272px;

	width: 451px;
	height: 52px;

	background: #0C2546;
	border-radius: 10px;

	font-family: "Source Code Pro";

	font-weight: 400;
	font-size: 16px;
	line-height: 100%;

	text-indent: 17px;

	border: none;

	color: #FFFFFF;
}

.step-2 .access-key-copy {
	position: absolute;
	left: 607px;
	top: 278px;

	width: 81px;
	height: 40px;

	background: #FFFFFF;
	border-radius: 6px;

	border: 0;

	font-weight: 500;
	font-size: 15px;
	line-height: 146.28%;


	text-align: center;

	color: #2683FF;
}

.step-2 .secret-key-label {
	position: absolute;
	width: 82px;
	height: 16px;
	left: 245px;
	top: 353px;


	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #384B65;
}

.step-2 .secret-key {
	position: absolute;
	left: 242px;
	top: 385px;

	width: 451px;
	height: 52px;

	background: #0C2546;
	border-radius: 10px;

	font-family: "Source Code Pro";

	font-weight: 400;
	font-size: 16px;
	line-height: 100%;

	text-indent: 20px;

	border: none;

	color: #FFFFFF;
}

.step-2 .secret-key-copy {
	position: absolute;
	left: 607px;
	top: 391px;

	width: 81px;
	height: 40px;

	background: #FFFFFF;
	border-radius: 6px;
	border: 0;

	font-weight: 500;
	font-size: 15px;
	line-height: 146.28%;

	text-align: center;

	color: #2683FF;
}

.step-2 .continue {
	position: absolute;
	left: 365px;
	top: 497px;

	width: 205px;
	height: 48px;

	background: #2683FF;
	border-radius: 6px;
	cursor: pointer;
	border: 0;

	font-weight: bold;
	font-size: 16px;
	line-height: 135%;

	text-align: center;

	color: #FFFFFF;
}

.step-3 .background {
	position: absolute;
	left: 252px;
	right: 252px;
	top: 180px;

	width: 936px;
	height: 625px;

	background: #FEFEFF;
	border-radius: 6px;
}

.step-3 .title {
	position: absolute;
	top: 84px;
	left: 371px;

	width: 195px;
	height: 24px;


	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
	/* identical to box height, or 24px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #0D1826;
}

.step-3 .hbs3 {
	position: absolute;
	top: 135.6px;
	left: 298.46px;

	width: 340.36px;

	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.step-3 .explaination {
	position: absolute;
	width: 707px;
	height: 78px;
	left: 114px;
	top: 356px;


	font-weight: normal;
	font-size: 18px;
	line-height: 145%;
	/* or 26px */

	text-align: center;

	color: #384B65;
}

.step-3 .guide {
	position: absolute;
	left: 366px;
	top: 485px;

	width: 205px;
	height: 48px;

	background: #2683FF;
	border: 2px solid #2683FF;
	box-sizing: border-box;
	border-radius: 6px;
	cursor: pointer;


	font-weight: bold;
	font-size: 16px;
	line-height: 135%;

	text-align: center;

	color: #FFFFFF;
}

.step-3 .done {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #2683FF;
	position: absolute;
  top: 555px;
  left: 448px;
}

.toast-wrapper {
	 position:
	 absolute;
	 top: 72px;
	 right: 24px;
}
.toast {
	opacity: 1;
	background: #FEFEFF;
	border: 1px solid #C5CBDB;
	box-shadow: 0px 8px 34px rgba(161, 173, 185, 0.41);
	border-radius: 6px;
	padding: 20px 14px;
	transition: opacity 0.3s;
}

.toast-header {
	border-bottom: 0;
}

.toast-title {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #373737;
	margin-bottom: 0;
}

.toast-body {
	padding-bottom: 0;
	padding-right: 2em;
}
.toast-body p {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #667589;
	margin-bottom: 0;
	line-height: 1.8;
}

#loader{
	position: absolute;
    margin-left: 10px;
    margin-top: -8px;
    font-size: 2.2em;
}

.dnone{
	display: none;
}

.button-opacity{
	opacity: 0.6;
	cursor: not-allowed;
}
